






.removeItem{
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-name: rmitem !important; 

}

@keyframes rmitem {
    50%{
        opacity: 0;
        transform: translateX(-10rem);
    }
}

.counter-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2.5rem;
}
.counter-header li:nth-child(1){
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-name: cartUIParent1;
    cursor: pointer;
}
.counter-header li:nth-child(2){
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-name: cartUIParent2;
}
.counter-header li:nth-child(2) > *{
    transform: translateX(0) scale(1.5) rotate(45deg) ;

}
.counter-header li{
    position: relative;
    list-style: none;
}
.counter-header li div{
    position: absolute;
    left: -1rem;
    height: .7rem;
    width: .7rem;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 104, 3, 0.795) ;

}
.noItem{
    font-size: .9rem;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-name: cartUIParent1;
}
@keyframes cartUIParent1 {
    0%{
        opacity: 0;
        transform: translateX(-3rem);
    }
}
@keyframes cartUIParent2 {
    0%{
        opacity: 0;
        transform: translateX(3rem) ;
    }
}
.counter-header li div::after{
    content: "";
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: rgba(255, 104, 3, 0.219) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-name: cartUI;
}

@keyframes cartUI {
    0%{
        opacity: 0;
        height: .5rem;
        width: .5rem;
    }
}

#counter_body > *{
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-name: cartUIOl;
}
.nopr{
    width: 100%;
    text-align: center;
    transform: translateY(2rem);
}
#removeAllFromCart{
    transition: .4s;
}
#removeAllFromCart:hover{
    transform: rotate(135deg) scale(1.5) ;
}


@keyframes cartUIOl {
    0%{
        transform: translate(-3rem);
    }
}


.discount-form li {
    list-style: none;
    position: relative;
}
.discount-form-cont{
    z-index:1 ;
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dark_mode .discount-form {
    background-color: #181818 !important;
    border: solid 1px rgb(160 160 160 / 18%);
}
.discount-form {
    background-color: white;
    width: 26rem;
    height: 16rem;
    border: solid 1px rgba(160, 160, 160, 0.712);
    border-radius: .5rem;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1.5rem 0 1rem;
}
.discount-form p{
    font-size: .8rem;
    position: absolute;
    margin-left: .5rem;
}
.discount-form section:nth-child(1) p{
    margin-top: .2rem;
}
.discount-form section:nth-child(2) p{
    transform: translateY(-1rem);
}
.discount-form section:nth-child(1){
    display: grid;
    place-items: center;

} 
.discount-form section:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.discount-form section:nth-child(2)>* {
    width: 10rem;

}

.monokai_mode .discount-form section:nth-child(1) input:focus ,
.monokai_mode .discount-form section:nth-child(2) input:focus ,
.dark_mode .discount-form section:nth-child(1) input:focus ,
.dark_mode .discount-form section:nth-child(2) input:focus {
    outline: solid 1px rgb(153 153 153);
    
}
.discount-form section:nth-child(1) input:focus ,
.discount-form section:nth-child(2) input:focus {
    outline: solid 1px solid 1px rgb(111 111 111 / 85%);
    
}
.discount-form section:nth-child(1) input ,
.discount-form section:nth-child(2) input {
    padding: 0 1rem ;

}
.dark_mode .discount-form section:nth-child(2) select,
.dark_mode .discount-form section:nth-child(1) input ,
.dark_mode .discount-form section:nth-child(2) input {
    background-color:#181818 ;
    color: rgb(199, 199, 199);
    outline: solid 1px rgb(111 111 111 / 85%);

}
.discount-form section:nth-child(2) select{
    padding-left: 1rem;
}
.discount-form section:nth-child(2) select,
.discount-form section:nth-child(1) input ,
.discount-form section:nth-child(2) input {
    height: 2.4rem;
    width: 10rem;
    border-radius: .4rem;
    border: none;
    outline: solid 1px rgba(0, 0, 0, 0.377);
    background-color:#b3b3b34f ;
    color: rgb(31, 30, 30);
}
.last_dd{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.monokai_mode .last_dd button,
.dark_mode .last_dd button{
    color: rgb(199, 199, 199);
}
.last_dd button{
    padding: .4rem 3rem;
    border-radius: .4rem;
}
.last_dd button:nth-child(1){

    border: solid 1px rgba(126, 126, 126, 0.795);
    background-color: rgba(77, 77, 77, 0.219);
}
.last_dd button:nth-child(1):hover{
    background-color: rgba(77, 77, 77, 0.678);

}
.last_dd button:nth-child(2):hover{
    background-color: rgba(255, 104, 3, 0.623);

}
.last_dd button:nth-child(2){
    border: solid 1px rgba(255, 104, 3, 0.795);
    background-color: rgba(255, 104, 3, 0.219);
}
#overlay_cashier{
    display: none;
    background-color: #000000a1;
    height: 100%;
    width: 100%;
    position: absolute;
}
.side_nav{
    z-index: 2;
}





















@media screen and (min-width:1180px) {


    .counting{
        grid-template-rows: 3rem 58% 36% ;
    }
}