



.middle_side{
    grid-template-columns: unset;
    background-color: rgba(199, 199, 199, 0.623);

}
.monokai_mode .middle_side{
    background-color: #47493e;
    color: rgb(199, 199, 199);
}

.dark_mode .middle_side{
    background-color: #1F1F1F;
    color: rgb(199, 199, 199);
}

