

.middle_side{
    grid-template-columns: unset;
    background-color: rgba(199, 199, 199, 0.623);

}

.settings_cont{
    margin: 6.2rem 2.5rem 0 5.5rem;

}
.settings_cont ol{
    margin-bottom: 2rem;
    
}
.settings_cont li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: .5rem 3rem;
    height: 2rem;
    align-items: center;
}

#change_pw,
#edit_prof{
    display: flex;
    border: solid 1px rgba(128, 128, 128, 0.623);
    gap: .5rem;
    align-items: center;
    border-radius: .3rem;
    padding: .5rem .9rem .5rem 1.8rem;
    position: relative;
    background-color: #ffffffea;
}
#change_pw:hover{
    background-color: rgba(255, 255, 255, 0.199);
}
#edit_prof:hover{
    background-color: rgba(255, 255, 255, 0.199);
}
#change_pw i,
#edit_prof i{
    left: .6rem;
    position: absolute;
}
.settings_cont h3{
    display: flex;
    justify-content: start;
    gap: .5rem;
}
.themes_select {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 3rem;
}
.themes_select label{
    border-radius: .5rem;
    border: solid 1px rgba(141, 141, 141, 0.507);
    height: 8rem;
    width: 10rem;
    background-color: white;
    box-shadow:  5px 5px 3px #8d8d8d;
    position: relative;
    display: grid;
    grid-template-rows: 1.7rem auto 2rem;
}
.themes_select label .theme_name{
    display: grid;
    place-items: center;
    justify-content: end;
}
.themes_select label h4{
    width: fit-content;
    margin-right: 1rem;
}
.themes_select label:hover{
    background-color: rgba(255, 104, 3, 0.63);
    border:solid 1px rgb(255, 104, 3);
}
 
.themes_select input{
    position: absolute;
    top: .5rem;
    left: .5rem;
}
#save_theme{
    padding: .5rem .9rem .5rem 1.8rem;
    position: relative;
    background-color: white;
    border: solid 1px rgba(122, 122, 122, 0.623);
    border-radius: .3rem;
}
#save_theme:hover{
    background-color: rgba(255, 167, 3, 0.63);
    border: solid 1px rgb(207, 135, 1);
}
.savetm{
    margin: 0 3rem;
}
#save_theme i{
    position: absolute;
    left: .7rem;
}

